html {
  scroll-behavior: smooth;
}

* {
  max-width: 100vw;
}

.single-skill {
  display: inline-block;
  float: left;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 6px 15px;
  margin: 0 10px 10px 0;
}

.single-skill img {
  height: 25px;
  max-width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}
#skills {
  font-size: 12px;
  font-weight: 300;
}

.gh-btn {
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #fcfcfc, #eee);
  background-image: linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  padding: 5px 6px;
  color: #000;
  line-height: 26px;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}

.gh-btn:hover,
.gh-btn:focus {
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #eee, #ddd);
  background-image: linear-gradient(to bottom, #eee, #ddd);
  border-color: #ccc;
  color: #000;
  text-decoration: none;
}

/* footer {
  margin: auto;
  text-align: center;
} */

.fake {
    -webkit-transform: scale(0.5); /* Saf3.1+, Chrome */
       -moz-transform: scale(0.5); /* FF3.5+ */
        -ms-transform: scale(0.5); /* IE9 */
         -o-transform: scale(0.5); /* Opera 10.5+ */
            transform: scale(0.5);
               /* IE6–IE9 */
               filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand');
​}